In [39]:
import os
import fnmatch
import pandas as pd

In [40]:
# Setting filepaths
#
# Get Current Working Directory
CWD = os.getcwd()

# Set Relative and Absolute filepaths for raw data
RAW_DATA_RELPATH = os.path.join(os.pardir, os.pardir, "data", "raw")
RAW_DATA_ABSPATH = os.path.join(CWD, RAW_DATA_RELPATH)

# Set Relative and Absolute filepaths for clean data
CLEAN_DATA_RELPATH = os.path.join(os.pardir, os.pardir, "data", "clean")
CLEAN_DATA_ABSPATH = os.path.join(CWD, CLEAN_DATA_RELPATH)

In [41]:
# Find data files
datafiles = fnmatch.filter(os.listdir(RAW_DATA_ABSPATH), "*time*.csv")
datafiles

['Toggl_time_entries_2021-04-19_to_2021-04-25.csv',
 'Toggl_time_entries_2021-04-12_to_2021-04-18.csv',
 'Toggl_time_entries_2021-04-05_to_2021-04-11.csv']

In [45]:
# Concatenate all data files into single dataframe
filename = os.path.join(RAW_DATA_ABSPATH, datafiles[0])
df = pd.read_csv(filename)

for datafile in datafiles[1:]:
    filename = os.path.join(RAW_DATA_ABSPATH, datafile)
    tmpdf = pd.read_csv(filename)
    df = pd.concat([df, tmpdf])

df.drop(["User", "Email", "Client", "Task", "Billable", "Tags", "Amount ()"], axis=1, inplace=True)    

print(df.head())
df.describe()

                Project        Description  Start date Start time    End date  \
0                  Self              Admin  2021-04-19   09:01:02  2021-04-19
1                   NaN       Paper Review  2021-04-19   09:18:42  2021-04-19
2  Living with Machines  Deduplifying JISC  2021-04-19   13:35:35  2021-04-19
3                   NaN       Paper Review  2021-04-20   09:00:28  2021-04-20
4                   OLS    Mentor Catch-up  2021-04-20   10:00:02  2021-04-20

   End time  Duration
0  09:18:35  00:17:33
1  12:04:10  02:45:28
2  16:23:27  02:47:52
3  10:00:54  01:00:26
4  11:00:35  01:00:33

,Project,Description,Start date,Start time,End date,End time,Duration
count,49,55,56,56,56,56,56
unique,7,41,14,55,14,56,41
top,OLS,Admin,2021-04-20,09:00:21,2021-04-20,10:00:29,01:30:00
freq,13,6,7,2,7,1,7